html body {
    background-color: grey;
    color: black;
}


.file {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
    text-align: center;
    background-color: azure;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.file:hover{
    background-color: yellow;
}

a {
    color: black;
}

a:hover {
    color: red;
    font-size: 0.8cm;
}

#content{
    font-size: 2cm;
    margin-bottom: 1cm;
    font-weight: bold;
}

#session{
    line-height: 1cm;
}